@import 'styles/theming';
@import 'styles/colors';

.alf-breadcrumb-container {
  float: left;
  padding: 8px 1px 2px 27px;
  width: calc(100% - 89.5px);
  background-color: $muraai-breadcrumbs-background;
  height: 35px !important;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-color: rgba(224, 224, 224, 0.5);
  margin-top: 1px;
  font-family: 'Muli', "Helvetica", "Arial", sans-serif !important;
}

.alf-crumb-container {
  float: left;
  color: #747474;
}

.alf-crumb-container:last-child {
  color: #4f4f4f;
  font-weight: 600;
}

.alf-crumb-container:last-child > div {
  cursor: default !important;
}

.alf-crumb-container > div {
  float: left;
  padding: 9px 2px;
  font-size: 14px;
  cursor: pointer;
}

.alf-crumb-container > i {
  float: left;
  padding: 3px 0px;
}

.alf-icon-container {
  float: right;
  text-align: right;
  color: #747474;
  background-color: mat-color($primary);
}

.alf-icon-container > i {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 16px;
  height: 30px;
  margin-top: 0px;
  border-bottom: 1px solid;
  border-color: rgba(224, 224, 224, 0.5);
  background-color: #fbfbfb;
  float: left;
  font-size: 20px;
  cursor: pointer;
}

.alf-icon-container .divider {
  float: left;
  width: 1px;
  height: 48px;
  border-right: 2px solid #eee;
}
