@import 'styles/theming';

md-card {
  max-width: 99%;
  margin: 0.5em;
  padding: 15px;
  margin-top: 20px;
  height: 250px
}
.margin-bottom-40{
  margin-bottom: 40px;
}
.width{
    width: 95%;
}
.pull-right{
    float: right;
}
.template-height{
  height: 50px;
}